.weekWeather {
  grid-area: 2 / 3 / 3 / 5;

  padding: 4rem;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.dayInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.temperature {
  display: flex;
  gap: 0.4rem;
}

.weatherIcon {
  width: 6.4rem;
  height: 6.4rem;
}

@media (max-width: 1000px) {
  .weekWeather {
    grid-area: 4 / 1 / 5 / 2;
  }
}

@media (max-width: 600px) {
  .weekWeather > div:last-child {
    margin-right: auto;
  }
}
