@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --purple-bg: #847ee9;
  --purple-card: #6d67d0;
  --text-primary: #e7e6fb;
  --text-secondary: #c2bff4;
  --title: #dad8f7;
  --yellow: #f6c833;
  --green: #87ebcd;
  --white: #ffffff;
}

body {
  font-size: 1.6rem;
  background: linear-gradient(228deg, #fccdff 0%, var(--purple-bg) 101.89%)
    no-repeat fixed;
}
